.chart {position:relative;display:inline-block;width:110px;height:110px;text-align:center;color:#fff;}
.chart canvas {position: absolute;top: 0;left: 0;z-index:0 !important;width:110px;height:110px;}
.percent {display: inline-block;line-height: 110px;z-index: 2; font-size:2em; color:#1abc9c;}
